<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" th:fragment="footer">
    <div class="container-fluid">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled">Disabled</a>
        </nav>
        <figure class="text-center">
            <blockquote class="blockquote text-white">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.</p>
            </blockquote>
            <figcaption class="blockquote-footer text-white">
                Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
        </figure>
    </div>
</nav>
</html>